.cookie-consent {
  position: absolute;
  bottom: 5px;
  right: calc(5px + 1.5rem);
  width: 600px;

  @media (max-width: 700px) {
    width: 80%;
    right: 50%;
    transform: translateX(50%);
  }
}
